<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID15662</key>
            <dict>
                <key>frame</key>
                <string>{{782, 289}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID67999</key>
            <dict>
                <key>frame</key>
                <string>{{391, 289}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68001</key>
            <dict>
                <key>frame</key>
                <string>{{0, 289}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68005</key>
            <dict>
                <key>frame</key>
                <string>{{1564, 180}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68007</key>
            <dict>
                <key>frame</key>
                <string>{{1173, 180}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68009</key>
            <dict>
                <key>frame</key>
                <string>{{782, 180}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68011</key>
            <dict>
                <key>frame</key>
                <string>{{391, 180}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68015</key>
            <dict>
                <key>frame</key>
                <string>{{0, 180}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68017</key>
            <dict>
                <key>frame</key>
                <string>{{1561, 0}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68019</key>
            <dict>
                <key>frame</key>
                <string>{{1170, 0}, {387, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {387, 105}}</string>
                <key>sourceSize</key>
                <string>{387, 105}</string>
            </dict>
            <key>PTModelSprite_ID68164</key>
            <dict>
                <key>frame</key>
                <string>{{514, 0}, {652, 105}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {652, 105}}</string>
                <key>sourceSize</key>
                <string>{652, 105}</string>
            </dict>
            <key>PTModelSprite_ID68279</key>
            <dict>
                <key>frame</key>
                <string>{{403, 0}, {107, 111}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {107, 111}}</string>
                <key>sourceSize</key>
                <string>{107, 111}</string>
            </dict>
            <key>PTModelSprite_ID68285</key>
            <dict>
                <key>frame</key>
                <string>{{292, 0}, {107, 111}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {107, 111}}</string>
                <key>sourceSize</key>
                <string>{107, 111}</string>
            </dict>
            <key>PTModelSprite_ID68290</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {177, 176}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {177, 176}}</string>
                <key>sourceSize</key>
                <string>{177, 176}</string>
            </dict>
            <key>PTModelSprite_ID68477</key>
            <dict>
                <key>frame</key>
                <string>{{181, 0}, {107, 111}}</string>
                <key>offset</key>
                <string>{0.0, -0.0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {107, 111}}</string>
                <key>sourceSize</key>
                <string>{107, 111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID15663.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID15663.png</string>
        </dict>
    </dict>
</plist>
